body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20220215/pngtree-blue-bubble-water-drop-cosmetic-background-image_926347.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-icon, .logo, .profile-icon {
    height: 40px;
    cursor: pointer;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}

.row {
    display: flex;
    justify-content: center;
    gap: 90px;
}

.icon {
    width: 100px;
    height: 100px;
    background-color: aqua;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.icon img {
    width: 60px;
    height: 60px;
}

footer {
    background-color:rgba(255, 255, 255, 0.8);
    padding: 10px 0;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.side-menu {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #f0f0f0;
    transition: left 0.3s ease;
    padding-top: 60px;
}

.side-menu-open {
    left: 0;
}

.side-menu ul {
    list-style-type: none;
    padding: 0;
}

.side-menu li {
    padding: 15px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
}

.side-menu li:hover {
    background-color:transparent;
}
.side-menu .closebtn {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}